@font-face {
  font-family: "Fira_Sans";
  src: local("Fira_Sans"),
    url(../../assets/fonts/Fira_Sans/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

body,
button {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $header-height 50px;
  flex-direction: column;

  @include respond-to("small") {
    padding: $header-height 20px;
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}

.center {
  text-align: center;
}
