$primary: #2aa7df;
$primary-light: #6fd8ff;
$primary-dark: #0078ad;
$primary-contrast: #fff;

$secondary: #a3cc39;
$secondary-light: #d7ff6c;
$secondary-dark: #709b00;
$secondary-contrast: #fff;

$header-height: 80px;
