.banner {
  display: flex;
  @include respond-to("small") {
    flex-wrap: wrap;
  }
}

.twitter {
  color: white;
  display: flex;
  margin-top: 50px;

  img {
    padding-right: 10px;
  }
}

.left {
  width: 50%;
  background-image: url("../../assets/images/img_woloxer.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond-to("small") {
    width: 100%;
  }
}

.right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f3f3;

  @include respond-to("small") {
    width: 100%;
    padding: 20px;
  }
}
