.benefits {
  padding: 100px 50px 50px 50px;
  text-align: center;
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.1);

  @include respond-to("small") {
    padding: 50px 20px 20px 20px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;

  @include respond-to("small") {
    margin-top: 20px;
  }
}

.item {
  padding: 2em;
  width: 120px;

  @include respond-to("small") {
    padding: 1em;
  }

  .icon {
    height: 90px;
    margin-bottom: 20px;
  }
}
