.cover {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/images/Bg_Header.png);
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  div {
    width: 40%;
    padding: 5%;

    @include respond-to("small") {
      width: 100%;
    }
  }

  .illustration {
    text-align: center;

    img {
      max-width: 100%;
    }

    @include respond-to("small") {
      display: none;
    }
  }
}
