.button {
  min-width: 165px;
  width: auto;
  height: 40px;
  letter-spacing: 0.5px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 50px;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 800px) {
    font-size: 12px;
    font-weight: bold;
    min-width: 100px;
  }
}

.outlined-primary {
  background-color: transparent;
  color: $primary;
  border: 1px solid $primary;

  &:hover {
    background-color: $primary;
    color: $primary-contrast;
  }
}

.outlined-secondary {
  background-color: transparent;
  color: $secondary;
  border: 1px solid $secondary;

  &:hover {
    background-color: $secondary;
    color: $secondary-contrast;
  }
}

.filled-primary {
  background-color: $primary;
  color: $primary-contrast;
  border: 1px solid $primary;

  &:hover {
    background-color: $primary-contrast;
    color: $primary;
  }
}

.filled-secondary {
  background-color: $secondary;
  color: $secondary-contrast;
  border: 1px solid $secondary;

  &:hover {
    background-color: $secondary-contrast;
    color: $secondary;
  }
}
