@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: #000000;
}

.custom-form-input {
  position: relative;
  margin: 30px 20px;
  display: block;

  .form-input-error {
    border-bottom: 1px solid red;
  }

  input {
    width: calc(100% - 20px);
  }

  select {
    width: 100%;
    min-width: 200px;
  }

  input,
  select {
    background: none;
    color: #000000;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    margin: 25px 0 5px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .custom-form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }

  .error {
    font-size: small;
    color: red;
  }

  @include respond-to("small") {
    margin: 30px 0;

    input {
      margin: 15px 0;
    }

    .form-input-label {
      font-size: 14px;
    }
  }
}
