.custom-text {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.title {
  font-size: 2em;
}

.subtitle {
  font-size: 1.5em;
}

.inline {
  display: inline;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}
