.menu-container {
  position: relative;

  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        border-bottom: 1px solid #dddddd;

        a {
          font-family: "Fira_Sans";
          text-decoration: none;
          color: #333333;
          padding: 15px 20px;
          display: block;
        }

        button {
          font-family: "Fira_Sans";
          text-decoration: none;
          color: #333333;
          padding: 15px 20px;
          display: block;
          border: none;
          background-color: white;
          font-size: 16px;
          width: 100%;
          text-align: left;
        }

        .header-fav {
          padding: 15px 20px;
          display: flex;
          align-items: center;
          margin-right: 50px;

          img {
            margin-left: 4px;
          }
        }
      }
    }
  }

  .menu-trigger {
    background: #ffffff;
    cursor: pointer;
    display: flex;
    padding: 4px 6px;
    border: none;

    &:active {
      outline: none;
    }
  }
}
