.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.short-input {
  width: 50%;

  @include respond-to("small") {
    width: 100%;
  }
}

.large-input {
  width: 100%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.form-error {
  border-radius: 10px;
  border: 1px solid red;
  color: red;
  text-align: center;
  padding: 10px;
}

.buttons-container {
  margin-top: 30px;
}

.error-checkbox {
  color: red;
}
