.spinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid $primary;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.sp-secondary {
  border-top: 8px solid $secondary;
}

.sp-sm {
  width: 20px;
  height: 20px;
}

.sp-md {
  width: 40px;
  height: 40px;
}

.sp-lg {
  width: 80px;
  height: 80px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
