.tech-filter-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;

  div {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    border: none;
    color: $secondary;
    font-weight: bold;
    background-color: white;
    padding: 20px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
