.tech-container {
  display: flex;
  align-items: center;
  padding: 20px;

  @include respond-to("small") {
    padding: 10px;
  }

  .tech-logo {
    height: 80px;
    width: 80px;
    min-height: 80px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $secondary;
    margin-right: 50px;

    @include respond-to("small") {
      height: 40px;
      width: 40px;
      min-height: 40px;
      min-width: 40px;
      margin-right: 25px;
    }

    img {
      max-width: 70%;
      max-height: 70%;
    }
  }

  .tech-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .tech-left {
      .tech-title {
        margin-bottom: 0;
        font-size: 18px;

        @include respond-to("small") {
          font-size: 14px;
        }
      }

      .tech-subtitle {
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 4px;
        color: gray;
      }
    }

    .tech-right {
      width: 30%;
      font-size: 12px;
      color: $primary;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @include respond-to("small") {
        min-width: 40%;
        max-width: 40%;
        padding-left: 10px;

        .fav-button {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
