nav {
  position: fixed;
  width: 100%;
  z-index: 10;

  .bg-white {
    background-color: white;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
  }

  .navbar {
    font-family: "Fira_Sans";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

    .logo {
      text-decoration: none;

      img {
        width: 150px;

        @include respond-to("small") {
          width: 100px;
        }
      }
    }

    .links {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: black;
        margin-right: 50px;
      }

      .header-fav {
        display: flex;
        align-items: center;
        margin-right: 50px;

        img {
          margin-left: 4px;
        }
      }

      button {
        font-family: "Fira_Sans";
      }

      @include respond-to("small") {
        display: none;
      }
    }

    .dropdown-menu {
      display: none;

      @include respond-to("small") {
        display: block;
      }
    }
  }
}
